extends layout.pug
block content  
  p#nojs="This webpage requires javascript to run."
  #root
block scripts
  script(type='text/javascript', src='/public/bundle.js')
  script(type='text/javascript', src='/public/1.bundle.js')